.card-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 0 5px;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
    border: 1px solid #9555af;
    color: #9555af;
  }